/*추천 음료 공통*/
/*bounce 애니메이션*/
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5px);
    }
}

/*추천 음료 컨테이너*/
.ediya-recommend-container {
    color: var(--theme-bright);
}

/*추천 음료 섹션*/
.ediya-recommend {
    color: var(--theme-default);
    background-color: var(--theme-secondary);
    text-align: center;
}

.ediya-recommend-text {
    font-size: 1.4rem;
}

.ediya-recommend-text[lang='en'] {
    font-weight: 100;
}

.ediya-recommend-text[lang='en']::after {
    content: "";
    display: inline-block;
    width: 40px;
    border-bottom: 1px solid var(--theme-primary);
}

.ediya-recommend-text em {
    color: var(--theme-primary);
    font-style: normal;
    font-weight: 700;
}

/*추천 음료 리스트*/
.ediya-recommend-list {
    position: relative;
}

.ediya-recommend-beverage {
    position: absolute;

}

.ediya-recommend-beverage img {
    max-width: 100%;
    height: auto;
    animation: bounce 0.4s ease-in-out infinite alternate;
    /* animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.ediya-recommend-beverage:last-child img {
    animation-delay: 0.2s;
}

/*메뉴보기 링크*/
.go-menu {
    position: relative;
    display: inline-block;
    padding: 8px 24px;
    color: var(--theme-primary);
    border: 1px solid currentColor;
}

/*youtube 영상 섹션*/
.ediya-youtube {
}

.ediya-youtube-wrapper {
    margin: 0;
}

.iframe-wrapper {
    width: 100%;
    height: 0 !important;
    position: relative;
}

.iframe4-3 {
    padding-top: 75%;
}

.iframe16-9 {
    padding-top: 56.25%
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*공지사항 섹션*/
.ediya-notice {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.ediya-notice-headline,
.ediya-notice__article {
    padding: 15px;
}

.ediya-notice-headline {
    width: 125px;
    flex-shrink: 0;
    background: var(--theme-primary) linear-gradient(137deg, var(--color-gradient-start) 5%, var(--color-gradient-end) 100%);
    color: var(--theme-bright);
    font-weight: 700;
    margin: 0;
    font-size: 1.6rem;
}

.ediya-notice__article {
    flex-grow: 1;
}

.ediya-notice__article-headline {
    margin: 0 0 5px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--theme-primary);
}

.ediya-notice__article time {
    font-size: 1.2rem;
    color: var(--theme-disable);
}

.ediya-notice__article-text {
    font-size: 1.3rem;
    margin: 10px 0 0;
    line-height: 1.5;
}

.ediya-notice .button-container {
    position: absolute;
    left: 84px;
    bottom: 10px;
}

.ediya-notice .button {
    background-color: transparent;
    padding: 0;
}

/*이디야 뉴스 섹션*/
.ediya-news {
    background-color: var(--theme-primary);
    color: var(--theme-bright);
    padding: 15px;
    position: relative;
}

.ediya-news-headline {
    font-weight: 700;
    margin: 0;
    font-size: 1.6rem;
}

.ediya-news-list {
    margin: 15px 0 0 0;
    font-size: 1.4rem;
}

.ediya-news-list li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.ediya-news-subject{
    width: 72.5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ediya-news-date{

}

.ediya-news .icon-more{
    position: absolute;
    top: 15px;
    right: 15px;
}

@media all and (max-width: 767px) {

    /*모바일 추천 음료*/
    .ediya-recommend-container {
        padding-bottom: 195px;
    }

    .ediya-recommend {
        padding: 25px 0 20px;
    }

    .ediya-recommend-text {
        margin: 15px 0;
    }

    .ediya-recommend-text[lang='en'] {
        font-size: 2.5rem;
    }

    .ediya-recommend-text em {
        display: block;
    }

    .ediya-recommend-beverage:first-child {
        display: none;
    }

    .ediya-recommend-beverage:last-child {
        top: 15px;
        left: 50%;
        width: 60%;
        transform: translateX(-60%);
    }
}


@media all and (min-width: 768px) {

    /*데스크탑 추천 음료*/
    .ediya-recommend-container {
        padding-bottom: 245px;
    }

    .ediya-recommend {
        padding: 20px 0 30px;
    }

    .ediya-recommend-text {
        margin: 30px 0;
    }

    .ediya-recommend-text[lang='en'] {
        font-size: 3.1rem;
    }

    .ediya-recommend-text[lang='en']::after {
        display: block;
        margin: 30px auto 0;
    }

    .ediya-recommend-list {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .ediya-recommend-beverage:first-child {
        width: 306px;
        top: -135px;
        left: -50px;
    }

    .ediya-recommend-beverage:last-child {
        width: 457px;
        top: -55px;
        right: -160px;
    }
    .ediya-section-container{
        background: var(--theme-bright2);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 85px 0;
    }
    .ediya-youtube{
        width: 365px;
    }
    .ediya-inform-container{
        width: 400px;
    }
}
