/* 공통 공지사항 */
.news-main {
    padding: 15px;
}

.news__notice {}

.news-headline {
    font-size: 2rem;
    font-weight: 700;
    color: var(--theme-primary);
    margin: 0;
}

.news-headline::before {
    content: "";
    width: 8px;
    height: 16px;
    display: inline-block;
    background: url(../images/icon-news-headline.svg) no-repeat 0 0 / 100% 100%;
    margin-right: .5em;
}

.news-text {
    margin: 10px 0;
}

/* 공통 검색 폼 */
.press-search-container {
    padding: 5px 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.news__press-form [name="newSelect"] {
    width: 80px;
    margin-right: 15px;
    height: 26px;
}

.news__press-form [name="newsKeyword"] {
    padding: 2px 25px 2px 0.5em;
    flex-grow: 1;
    border: 0;
    height: 26px;
    border-bottom: 1px solid var(--theme-dark);
}

.news__press-form .button-search {
    position: absolute;
    width: 20px;
    padding: 2px;
    height: 20px;
    border: 0;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.news__press-form .icon-search {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/icon-search.svg) no-repeat 0 0 /100% 100%;
}

/* 공통 테이블 데이타 */
.news__press-table {
    border-top: 2px solid var(--theme-primary);
    border-bottom: 2px solid var(--theme-primary);
    margin-top: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.news__press-table th {
    color: var(--theme-primary);
    font-weight: 700;
    min-width: 60px;
}

.news__press-table th,
.news__press-table td {
    padding: 8px 15px;
}

.news__press-table th:nth-child(1) {

}

.news__press-table th:nth-child(2),
.news__press-table td:nth-child(2) {
  
}

.news__press-table th:nth-child(3) {}

.news__press-table td:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.news__press-table td {
    font-size: 1.2rem;
    border-top: 1px solid var(--theme-primary);
}

.news__press-table .press-thumbnail {
    margin: 0 10px 0 0;
    width: 60px;
    height: 60px;   
}

.news__press-table .press-thumbnail img {
    max-width: 100%;
    height: auto;
}

.news__press-table .press-article {
    margin: 0;
}

.news__press-table dt {
    font-size: 1.5rem;
    color: var(--theme-primary);
}

.news__press-table dd {
    margin-left: 0;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 5px;
}

/* 공통 페이지네이션 */
.pagination-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px;
}

.pagination-container .button path,
.pagination-container .button[disabled] svg path {
    fill: #919bc6;
}

.pagination-container .button:hover path,
.pagination-container .button:focus path {
    fill: var(--theme-primary);
}

.pagination {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 0 3px;
    color: #919bc6;
}

.pagination a.on {
    color: var(--theme-primary);
}

@media all and (max-width: 767px) {

    /* 모바일 공지사항 */
    /* 모바일 테이블 데이타 */
    .news__press-table .press-thumbnail {
        display: none;
    }
}

@media all and (min-width: 768px) {

    /* 데스크탑 공지사항 */
    .news__notice {
        width: 740px;
        padding: 15px;
        margin: 0 auto;
    }

    /* 데스크탑 검색 폼 */
    .news__press-form {
        width: 440px;
        margin-left: auto;
    }
}